<%	 if signed_in? %>
   <div class="col-xs-12 col-md-10 col-md-offset-1">
     <div class="row">
       <%=	 image_tag "auto1.jpg", class: "img-responsive" %>
     </div>
     <div class="row">
       <p>Año: 2013</p>
       <p>Modelo: Nissan</p>
       <p></p>
     </div>
   </div>

<% else %>
    <%=	 render "shared/ingresa" %>
<% end %>






